/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

&mt {
    tapping-term-ms = <200>;
};

&lt {
    quick-tap-ms = <400>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer_0 {
            bindings = <
                &kp S   &kp T   &kp R   &kp A 
              &lt 3 O   &kp I   &kp Y   &kp E 
                                &kp LSHFT  &kp SPACE  &mo 1
            >;
        };

        Layer__1 {
            bindings = <
                &bt BT_CLR    &trans        &trans        &out OUT_TOG
                &bt BT_SEL 0  &bt BT_SEL 0  &bt BT_SEL 0  &bt BT_SEL 0  
                                            &bootloader  &trans  &trans
            >;
        };

        Layer__2 {
            bindings = <
                &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans
                        &trans  &trans  &trans
            >;
        };

        Layer__3 {
            bindings = <
      &trans        &trans        &trans        &trans
      &trans        &trans        &trans        &trans
                    &trans        &trans        &trans                     
            >;
        };
    };
};
