/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    tapping-term-ms = <200>;
};

&lt {
    quick-tap-ms = <400>;
};

/ {
    combos {
        compatible = "zmk,combos";

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <5 6>;
        };

        escape {
            bindings = <&kp ESCAPE>;
            key-positions = <0 1>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <3 4>;
        };

        pairing {
            bindings = <&bt BT_CLR>;
            key-positions = <7 8 9>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer_0 {
            bindings = <
 &kp INS  &kp HOME  &kp PG_UP     &kp KP_NUMLOCK     &kp KP_SLASH  &kp KP_MULTIPLY  &kp KP_MINUS
 &kp DEL   &kp END  &kp PG_DN    &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9         &none
                                 &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6   &kp KP_PLUS
            &kp UP               &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3         &none
&kp LEFT  &kp DOWN  &kp RIGHT    &kp KP_NUMBER_0            &none       &kp KP_DOT  &kp KP_ENTER
            >;
        };
    };
};
