# Twoli board configuration

# Copyright (c) 2023 Noah Kiser
# SPDX-License-Identifier: Apache-2.0

config BOARD
	default "twoli" if BOARD_TWOLI

if BOARD_TWOLI

config BT_CTLR
	default BT

config ZMK_KEYBOARD_NAME
    default "Twoli"

if ZMK_DISPLAY

config ZMK_DISPLAY_BLANK_ON_IDLE
    bool "Blank display on idle"
    default y

choice LVGL_TXT_ENC
    default LVGL_TXT_ENC_UTF8

endchoice

choice ZMK_DISPLAY_STATUS_SCREEN
	default ZMK_DISPLAY_STATUS_SCREEN_CUSTOM

endchoice

config LVGL_FONT_MONTSERRAT_16
    default y

choice LVGL_THEME_DEFAULT_FONT_NORMAL
    default LVGL_THEME_DEFAULT_FONT_NORMAL_MONTSERRAT_16

endchoice

config LVGL_FONT_MONTSERRAT_12
    default y
    
choice LVGL_THEME_DEFAULT_FONT_SMALL
    default LVGL_THEME_DEFAULT_FONT_SMALL_MONTSERRAT_12

endchoice

config I2C
	default y

config SSD1306
	default y

config SSD1306_REVERSE_MODE
	default n

endif # ZMK_DISPLAY

endif # BOARD_TWOLI