# Twoli board configuration

# Copyright (c) 2023 Noah Kiser
# SPDX-License-Identifier: Apache-2.0

config BOARD
	default "twoli" if BOARD_TWOLI

if BOARD_TWOLI

config BT_CTLR
	default BT

config ZMK_KEYBOARD_NAME
    default "Twoli"

if ZMK_DISPLAY

config ZMK_DISPLAY_BLANK_ON_IDLE
    bool "Blank display on idle"
    default y

choice LVGL_TXT_ENC
    default LVGL_TXT_ENC_UTF8

endchoice

choice ZMK_DISPLAY_STATUS_SCREEN
	default ZMK_DISPLAY_STATUS_SCREEN_CUSTOMDD

endchoice

config CUSTOM_WIDGET_MATRIX_STATUS
	bool "Use the custom matrix status widget"
	default y

config MATRIX_LAYOUT_ISO
	bool "ISO Enter on rows 0 and 1"
	default n

config MATRIX_LAYOUT_SHIFT
	bool "1.25 and 1.75 Shifts on row 2"
	default n

config MATRIX_LAYOUT_BOTTOM
	int "Bottom row layout: 1) 1-1-1 ; 2) 2.00-1 ; 3) 1.5-1.5"
	default 1

config CUSTOM_WIDGET_BATTERY_STATUS
	bool "Use a custom battery status widget"
	default y

# Uncomment below to enable batt percentage
config CUSTOM_WIDGET_BATTERY_STATUS_SHOW_PERCENTAGE
	bool "show batt percentage on custom batt widget"
	default y

config LVGL_FONT_MONTSERRAT_16
    default y

choice LVGL_THEME_DEFAULT_FONT_NORMAL
    default LVGL_THEME_DEFAULT_FONT_NORMAL_MONTSERRAT_16

endchoice

config LVGL_FONT_MONTSERRAT_12
    default y
    
choice LVGL_THEME_DEFAULT_FONT_SMALL
    default LVGL_THEME_DEFAULT_FONT_SMALL_MONTSERRAT_12

endchoice

config I2C
	default y

config SSD1306
	default y

config SSD1306_REVERSE_MODE
	default n

endif # ZMK_DISPLAY

endif # BOARD_TWOLI